<article class="flex gap-5">
  <section class="flex justify-center">
    <div class="w-40 h-40">
      <canvas class="w-full h-full" id="graficoCircle"></canvas>
    </div>
  </section>
  <section>
    <h1>INGRESO GENERAL</h1>
    <p>{{this.ingressTotal}}</p>
    <h1>GASTO GENERAL</h1>
    <p>{{this.gastossTotal}}</p>
    <h1>AHORRO</h1>
    <p>{{this.resultadoEnd}}</p>
  </section>
  <section class="flex justify-center">
    <div class="w-70 h-70">
      <canvas class="w-full h-full" id="graficoBar"></canvas>
    </div>
  </section>
</article>
