<article class="flex flex-col">
  <h1 class="pl-4 mt-7 text-left font-DMSans text-teal-900 text-xl font-bold">
  DATOS GENERALES:
  </h1>
  <div class="xs:gap-20 px-8 flex-col-reverse flex justify-center w-full">
    <section class="flex-wrap flex items-center justify-center">
      <div class="w-64 h-56">
        <canvas class="w-full" id="graficoCircle"></canvas>
      </div>
    </section>
    <section class="mt-5 flex flex-col justify-center gap-1">
      <div>
        <h1 class="font-DMSans text-teal-900 text-md font-bold">INGRESO GENERAL: </h1>
        <p class="text-lg text-teal-700 font-bold float-right">$ {{ this.ingressTotal }}</p>
      </div>
      <div>
        <h1 class="font-DMSans text-teal-900 text-md font-bold">GASTO GENERAL:</h1>
        <p class="text-lg text-red-500 font-bold float-right">-$ {{ this.gastossTotal }}</p>
      </div>
      <div>
        <h1 class="font-DMSans text-teal-900 text-md font-bold">AHORRO:</h1>
        <p
          class="text-lg font-bold float-right"
          [ngClass]="{
            'text-blue-600': resultadoEnd && resultadoEnd > 0,
            'text-red-500': resultadoEnd && resultadoEnd <= 0
          }"
        >
          {{
            this.resultadoEnd && this.resultadoEnd > 0
              ? "$ " + this.resultadoEnd
              : "- $" + this.resultadoEnd
          }}
        </p>
      </div>
    </section>
  </div>
  <h1 class="pl-4 mb-6 text-left font-DMSans text-teal-900 text-xl font-bold">
    PANORAMA EN GENERAL:
  </h1>
  <section class="flex items-center justify-center mb-14">
    <div>
      <div class="w-64 h-32">
        <canvas class="w-full h-full" id="graficoBar"></canvas>
      </div>
    </div>
  </section>
</article>
