<div class="main">
    <h1><img src="../../assets/translate/logo.svg"/></h1>
    <div class="container">
        @if (statusError) {
            <p class="statusError">{{msgError}}</p>
        }
        <div class="container_block">
            <div class="container_block_languages">
                <p>Detect Language</p>
                <span [ngClass]="idiomas.block1.en ? 'color_span' : ''" (click)="seleccionado('en', 1)">English</span>
                <span [ngClass]="idiomas.block1.fr ? 'color_span' : ''" (click)="seleccionado('fr', 1)">French</span>
                <span [ngClass]="idiomas.block1.es ? 'color_span' : ''" (click)="seleccionado('es', 1)">Spanish</span>
            </div>
            <form class="formulario" [formGroup]="formulario" (submit)="submit($event)">
                <textarea id="textarea" formControlName="description" 
                    (input)="lengthCharacters($event)"
                ></textarea>
                <p class="caracteres">{{cantidadCaracteres}}/300</p>
                <button type="submit">
                    <img src="../../assets/translate/Sort_alfa.svg"/>
                    <p>Translate</p>
                </button>
            </form>
            <div class="options">
                <button (click)="voice(voiceText || '')">
                    <img src="../../assets/translate/sound_max_fill.svg"/>
                </button>
                <button (click)="copyText(inputText || '')">
                    <img src="../../assets/translate/Copy.svg"/>
                </button>
            </div>
        </div>
        <div class="cambio">
            <button class="change" (click)="changeLanguage()">
                <img src="../../assets/translate/Horizontal_top_left_main.svg"/>
            </button>
        </div>
        <div class="container_block">
            <div class="container_block_languages">
                <p>Detect Language</p>
                <span [ngClass]="idiomas.block2.es ? 'color_span' : ''" (click)="seleccionado('es', 2)">Spanish</span>
                <span [ngClass]="idiomas.block2.en ? 'color_span' : ''" (click)="seleccionado('en', 2)">English</span>
                <span [ngClass]="idiomas.block2.fr ? 'color_span' : ''" (click)="seleccionado('fr', 2)">French</span>
            </div>
            <p class="result">{{outputText}}</p>
            <div class="options_outputs">
                <button (click)="voice(voiceText2 || '')">
                    <img src="../../assets/translate/sound_max_fill.svg"/>
                </button>
                <button (click)="copyText(outputText || '')">
                    <img src="../../assets/translate/Copy.svg"/>
                </button>
            </div>
        </div>
        @if (showMessage) {
            <p class="msg_copy">{{messageCopy}}</p>
        }
    </div>
</div>
