.boxOptions {
  display: flex;
  flex-direction: column;
}
.firstButton {
  order: 1;
}
.secondButton {
  order: 2;
}
.thirdButton {
  order: 3;
}
.fourthButton {
  order: 4;
}
.section {
  font-family: "Inter-Bold", sans-serif;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 0 5%;

  @media (max-width: 800px) {
    width: 90vw;
  }
  h1 {
    color: #8cc87d;
    font-size: 44px;
    text-align: left;
    padding: 0px 0px 20px 0px;
    margin: 0px;
    text-shadow: 0px 4px 4px #0004;
    @media (max-width: 520px) {
      font-size: 34px;
    }
  }
  .containerHeaders {
    display: flex;
    justify-content: space-between;
    > p {
      font-size: 25px;
      margin: 0px;
      text-shadow: 0px 2px #0004;
      @media (max-width: 520px) {
        font-size: 20px;
      }
      @media (max-width: 400px) {
        font-size: 18px;
      }
    }
  }
  .result {
    font-size: 27px;
    padding-top: 15px;
    font-weight: 700;
    margin: 0px;
    text-shadow: 0px 2px #0004;
  }
  .boxAnswers {
    outline: 1px solid #fff5;
    border-radius: 5px;
    margin: 15px 0px 20px 0px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 0px;
    @media (max-width: 400px) {
      font-size: 20px;
      padding: 12px 10px;
    }
    @media (max-width: 330px) {
      font-size: 18px;
    }
    @media (max-width: 280px) {
      flex-direction: column;
    }
    &_correct {
      margin: 0px;
      color: #8cc87d;
      @media (max-width: 280px) {
        padding: 0px 0px 8px;
      }
    }
    &_incorrect {
      margin: 0px;
      color: #d55151;
    }
  }
  .boxMessage {
    > p {
      font-size: 18px;
      text-align: center;
      margin: 0px;
      text-shadow: 0px 2px #00000044;
    }
  }
  .question {
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    text-align: justify;
    margin: 0px;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    @media (max-width: 320px) {
      font-size: 17px;
    }
  }
  .boxOptions > button {
    background-color: #d9d9d940;
    color: #fff;
    text-shadow: 0px 2px #0004;
    border-radius: 5px;
    font-size: 20px;
    outline: none;
    padding: 15px 0px;
    margin: 0px 0px 10px 0px;
    border: none;
    cursor: pointer;
    &.answerCorrect {
      background-color: #8cc87d;
      outline: 1px solid #8cc87d;
    }
    &.answerIncorrect {
      background-color: #d55151ab;
      outline: 1px solid #d55151;
    }
  }
  .answerCorrect {
    background-color: #8cc87d;
    outline: 1px solid #8cc87d;
  }
  .btnDashboard {
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    @media (max-width: 740px) {
      margin-top: 0px;
    }
    > a {
      display: block;
      height: 100%;
      > svg {
        fill: #fff;
        width: 100%;
        height: 100%;
      }
      &:hover > svg {
        fill: #8cc87d;
      }
    }
  }
}
