<main class="main_toDolist">
  <section class="boxProject_toDoList">
    <div class="boxProject_toDoList_box1">
      <h1 class="boxProject_toDoList_box1_title"><i>To-Do-List</i></h1>
      <div class="boxProject_toDoList_box1_content">
        <div [formGroup]="task" class="form_content">
          <input
            id="title"
            type="text"
            formControlName="title"
            placeholder="Title..."
            required
          />
          <textarea
            id="desc"
            formControlName="description"
            placeholder="Description..."
            (input)="ajustarAlturaTextarea()"
          ></textarea>
          <div class="form_content_btns">
            <button (click)="addTask()" class="addBtn">Agregar</button>
            @if (isbtnUpdate) {
            <button (click)="updTask()" class="uptBtn">Actualizar</button>
            }
          </div>
        </div>
      </div>
    </div>
    <div class="boxProject_toDoList_box2">
      @for(task of tasks; track task.id){
      <div
        [style.textDecoration]="task.isChecked ? 'line-through' : 'none'"
        class="boxProject_toDoList_box2_taskCard"
      >
        <div class="boxProject_toDoList_box2_taskCard_checkTitle">
          <input
            type="checkbox"
            [checked]="task.isChecked"
            (change)="toggleCheckbox(task)"
          />
          <h1>{{ task.title }}</h1>
        </div>
        <p class="boxProject_toDoList_box2_taskCard_content">
          {{ task.description }}
        </p>
        <div class="boxProject_toDoList_box2_taskCard_btns">
          <button (click)="deleteTask(task.id)">Eliminar</button>
          <button (click)="updateTask(task.id)" class="editar">Editar</button>
        </div>
      </div>
      }
    </div>
  </section>
</main>
