.main_toDolist {
  display: flex;
  max-width: 1440px;
  margin: auto;
}
.boxProject_toDoList {
  width: 100%;
  display: flex;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

  &_box1 {
    font-family: Inter;
    padding-right: 20px;
    margin: 0 0 0 15px;
    border-right: 1px solid #fff3;
    backdrop-filter: blur(10px);
    width: 220px;
    height: 100vh;
    position: sticky;
    top: 0;

    @media screen and (max-width: 700px) {
      height: auto;
      width: auto;
      padding-right: 0;
      margin: 0;
      border-right: 0;
      padding: 0px 20px 25px 20px;
      position: relative;
    }

    &_title {
      font-size: 2.25rem;
      line-height: 1.75rem;
      margin: 0;
      color: #d5297f;
      text-shadow: 0 0 10px #d5297f;
      padding-top: 1.5rem;
      padding-bottom: 25px;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    &_content {
      .form_content {
        display: flex;
        flex-direction: column;

        > input,
        textarea {
          font-family: Inter;
          background: none;
          border: none;
          outline: none;
          border-bottom: 1px solid #aaa;
          margin-bottom: 25px;
          font-size: 16px;
          padding: 8px 0 8px 0;
          color: #ddd;
        }
        > textarea {
          max-height: 300px;
          resize: none;
        }
      }
      .form_content_btns {
        display: flex;
        flex-direction: column;
        gap: 10px;
        > button {
          width: 100%;
          padding: 9px;
          font-family: Inter;
          font-weight: 700;
          font-size: 17px;
          cursor: pointer;
          border: none;
          outline: none;
          background-color: #a7145d;
          color: #ddd;
          border-radius: 5px;
          transition: background-color 0.3s, text-shadow 0.3s;
          &:hover {
            background-color: #d5297f;
            text-shadow: 0 0 15px;
          }
        }
        .uptBtn {
          background-color: #ff1589;
          color: #ddd;
          &:hover {
            background-color: #dc0771;
            text-shadow: 0 0 15px;
          }
        }
      }
    }
  }
  &_box2 {
    width: 75.5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
    gap: 25px;
    height: 0%;

    @media screen and (max-width: 1024px) {
      margin: 15px;
    }
    @media screen and (max-width: 768px) {
      margin-top: 25px;
    }
    @media screen and (max-width: 678px) {
      width: auto;
      grid-template-columns: repeat(1, 1fr);
    }

    &_taskCard {
      outline: 1px solid #ff007f;
      border-radius: 5px;
      padding: 10px;
      color: #ddd;
      word-wrap: break-word;
      &_checkTitle {
        display: flex;
        > input {
          transform: scale(1.5);
        }
        > h1 {
          margin: 0;
          font-size: 26px;
          margin-left: 19px;
          font-family: Inter;
          word-break: break-word;
        }
      }
      &_content {
        font-size: 14px;
        margin: 10px 0;
        font-family: Inter;
        word-break: break-word;
      }
      &_btns {
        display: flex;
        gap: 15px;
        > button {
          width: 100%;
          padding: 6px;
          font-size: 17px;
          font-family: Inter;
          border-radius: 5px;
          border: none;
          outline: none;
          background-color: #9d0b54;
          color: #fff;
          cursor: pointer;
          &:hover{
            text-shadow: 0 0 4px;
          }
        }
        .editar {
          background-color: #ff005e;
          color: #fff;
          &:hover{
            text-shadow: 0 0 4px;
          }
        }
      }
    }
  }
}
